/*头部*/
.toolbar{
    height: 60px;
    width: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
}
.toolbar .header_in{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /*background-color: skyblue;*/
}
/*头部左边*/
.toolbar .header_logo{
    float: left;
    width: 190px;
    height: 100%;
    /*background-color: red;*/
}
.toolbar .header_logo>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    /*background-color: purple;*/
    background: url("../images/nubia-logo.png");
    overflow: hidden;
}

/*头部右边*/
.toolbar .header_nav{
    float: right;
    width: 740px;
    height: 100%;
    /*background-color: green;*/
}
/*头部导航一*/
.toolbar .header_nav_left{
    float: left;
    width: 550px;
    height: 100%;
    /*background-color: gold;*/
}
.toolbar .header_nav_left>li{
    float: left;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding-left: 40px;
    /*height: 60px;*/
    line-height: 60px;
}
.toolbar .header_nav_left>li:hover a{
    color: #e82c07;
}

/*头部导航二*/
.toolbar .header_nav_right{
    float: right;
    width: 150px;
    height: 100%;
    /*background-color: pink;*/
}
.toolbar .header_nav_right>li{
    float: right;
    line-height: 60px;
    text-align: center;
    padding-left: 10px;
}
.toolbar .header_nav_right>li:last-child{
    padding-left:0;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    background: url("../images/nubia-syb-all.png");
}
.toolbar .header_nav_right>li:hover a{
    color: #e82c07;
}

.nav{
    margin-top: 60px;
    width: 100%;
    height: 121px;
    /*background-color: red;*/
}
.nav .nav_in{
    width: 1200px;
    height: 100%;
    /*background-color: green;*/
    margin: 0 auto;
}
.nav .nav_in>ul{
    width: 100%;
    height: 100%;
    /*background-color: pink;*/
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
}
.nav .nav_in>ul>li{
    float: left;
    width: 150px;
    height: 100%;
    /*background-color: skyblue;*/
    /*border: 1px solid #000;*/
    box-sizing: border-box;
    text-align: center;
}
.nav .nav_in>ul>li img{
    margin-top: 10px;
    width: 120px;
    height: 80px;
}
.nav .nav_in>ul>li p{
    color: #999;
}
.nav .nav_in>ul>li:hover{
    border-bottom: 2px solid red;
}

.banner{
    height: 860px;
    background-color: yellow;
}
.content{
    height: 1883px;
    background-color: blue;
}
.footer{
    height: 396px;
    background-color: red;
}